:root {
  
  --white: #FFFCF2;
  --gray:#CCC5B9;
  --darkgray:#403D39;
  --DeepCharcoal:#252422;
  --orange:#EB5E28;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body {
  font-family: 'Roboto', sans-serif; /* Exemplo de fonte */
  background-color: var(--gray);
  color: var(--darkgray);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

